html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
}
body {
  padding-top: 69px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer,
.push {
  height: 50px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.toast-top-right {
  top: 70px;
  right: 2%;
}
.toast-success {
  background-color: #13987e;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
